<%= form_tag sessions_path, class: 'form-signin' do %>
  <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
  <hr class="colorgraph">
  <%= render partial: 'partials/notifications' %>
  <%= text_field_tag :login, params[:login], class: 'form-control pad10', autofocus: true, placeholder: 'Username', required: true %>
  <%= password_field_tag :password, '', class: 'form-control pad10', placeholder: 'Password', required: true %>
  <br>
  <%= submit_tag "Log In", class: "btn btn-lg btn-primary btn-block" %>
  <br>
  <%= link_to "Forgot password?", new_password_reset_path %>
  <%= link_to 'Sign Up?', signup_path, class: 'pull-right' %> 
<% end %>