<div class="custom_bg text-center">
  <h2 class="form-signin-heading">Two-Factor Authentication (2FA)</h2>
  <h5>Enter the code from the two-factor app on your mobile device. If you've lost your device, you can use your recovery code.</h5>

  <% if @user && (@user.activate_totp && @user.activate_u2f) %>
    <p><em>or </em> use your <b><%= link_to "Use 2FA Device?", new_authentication_url %></b></p>
  <% end %>

  <hr class="colorgraph">
  <%= render partial: 'partials/notifications' %>
  <%= render partial: 'partials/submit_code', locals: {post_url: verify_totp_code_sessions_url} %>
</div>