<div class="wrapper">
  <%= form_for @user, url: password_reset_path(params[:id]), html: {class: 'form-signin'} do |f| %>
    <h3 class="form-signin-heading">Reset Your Password</h3>
    <hr class="colorgraph">
    <%= render partial: 'partials/notifications' %>
    
    <%= f.password_field :password, class: "form-control", placeholder: 'New Password' %>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: 'Password confirmation' %>
    <br>
    <%= f.submit "Update Password", class: 'btn btn-lg btn-primary btn-block' %>
    <br>
    <%= link_to "Log In?", login_path, class: 'pull-right' %>
    <br>
  <% end %> 
</div>