<div class="wrapper">
  <%= form_tag password_resets_path, {class: 'form-signin',  method: :post} do %>
    <h3 class="form-signin-heading">Reset Password</h3>
    <hr class="colorgraph">
    <%= render partial: 'partials/notifications' %>
    
    <%= text_field_tag :email, params[:email], class: 'form-control', placeholder: 'Enter your email address', required: true %>
    <br>
    <%= submit_tag "Reset Password", class: 'btn btn-lg btn-primary btn-block' %>
    <br>
    <%= link_to "Log In?", login_path, class: 'pull-right' %>
    <br>
  <% end %> 
</div>