<nav class="sidebar">
  <ul class="nav">
    <li class="nav-item" id="dashboard">
      <%= link_to "Dashboard", dashboard_index_path, class: 'nav-link pad-l25' %>
    </li>

    <li class="nav-item" id="abilities_change_password">
      <%= link_to "Change Password", common_user_change_password_path, class: 'nav-link pad-l25' %>
    </li>
    <li class="nav-item" id="abilities_my_profile">
      <%= link_to "My Profile", common_user_my_profile_path, class: 'nav-link pad-l25' %>
    </li>
    <li class="nav-item" id="abilities_security_settings">
      <%= link_to "Security Settings", common_user_security_settings_path, class: 'nav-link pad-l25' %>
    </li>

    <% if current_user.is_admin? %>
      <li class="nav-item" id="bank_accounts">
        <%= link_to "Bank Accounts", admin_bank_accounts_path, class: 'nav-link pad-l25' %>
      </li>
      <li class="nav-item" id="transactions">
        <%= link_to "Transactions", admin_transactions_path, class: 'nav-link pad-l25' %>
      </li>
      <li class="nav-item" id="users">
        <%= link_to "User Accounts", admin_users_path, class: 'nav-link pad-l25' %>
      </li>
      <li class="nav-item" id="transaction_categories">
        <%= link_to "Transaction Categories", admin_transaction_categories_path, class: 'nav-link pad-l25' %>
      </li>
      <li class="dropdown open" id="reports">
          <a class="dropdown-toggle pad-l25" data-toggle="dropdown" href="#">Generate Report
          <span class="caret pull-right" id="nav-caret"></span></a>
          <ul class="custom-dropdown-menu dropdown-menu">
            <li><%= link_to "Statement", "/admin/reports?type=statement", class: 'nav-link pad-l25', id: 'statement' %></li>
            <li><%= link_to "Report", "/admin/reports?type=report", class: 'nav-link pad-l25', id: 'report' %></li>
          </ul>
        </li>
      </li>
    <% end %>
  </ul>
</nav>