<!-- Flash Notifications -->
<% flash.each do |name, msg| %>
  <%= content_tag :div, class: "alert alert-#{ name == 'notice' ? "success" : "danger" } alert-dismissable", role: "alert" do %>
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <%= msg %>
  <% end %>
<% end %>