<%= form_tag(post_url) do %>
  <div class="input-group">
    <% if params[:use_backup_code] == '1' %>
      <%= text_field_tag :backup_code, nil, class: 'form-control pad10', placeholder: 'Enter back up code here:', autofocus: true, required: true %>
    <% else %>
      <%= text_field_tag :code, nil, class: 'form-control pad10', placeholder: 'Enter 6 digit pin code here:', autofocus: true, required: true, maxlength: 6 %>
    <% end %>

    <span class="input-group-btn">
      <%= submit_tag 'Submit', class: 'btn btn-lg btn-primary submit_qrcode' %>
    </span>
  </div>
<% end %>

<br>

<% if params[:use_backup_code] == '1' %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Able To Access Your 2nd Factor Device?</h3>
      <br>
      <%= link_to "Login using 6 Digit code?", verify_totp_code_sessions_url %>
    </div>
  </div>
<% else %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Can't Access Your 2nd Factor Device?</h3>
      <br>
      <a href="<%= request.url%>?use_backup_code=1">Login using Backup Code</a>
    </div>
  </div>
<% end %>