<%= form_for @user, html: {class: 'form-signin'} do |f| %>
  <h1 class="form-signin-heading">Sign Up</h1>
  <hr class="colorgraph">
  <%= render partial: 'partials/form_errors', locals: {data: @user} %>
    
  <%= f.text_field :login, class: 'form-control pad10', autofocus: true, placeholder: 'Username' %>
  <%= f.text_field :first_name, class: 'form-control pad10', placeholder: 'First name' %>
  <%= f.text_field :last_name, class: 'form-control pad10', placeholder: 'Last name' %>
  <%= f.text_field :email, class: 'form-control pad10', placeholder: 'Email address' %>
  <%= f.password_field :password, class: 'form-control pad10', placeholder: 'Password' %>
  <%= f.password_field :password_confirmation, class: 'form-control pad10', placeholder: 'Password confirmation' %>
  <br>
  <%= f.submit "Submit", class: "btn btn-lg btn-primary btn-block" %>
  <br>
  <%= link_to "Log In?", login_path, class: 'pull-right' %>
<% end %> 