<div class="custom_bg text-center">
  <h2 class="form-signin-heading">Two-Factor Authentication (2FA)</h2>
  <h4 class="text-center">Login via Backup Code was successful.</h4>

  <hr class="colorgraph">

  <h4 class="text-center">Below is your new recovery code that can be used to regain access to your account. Please copy & save it in a safe place, or you will lose access to your account.</h4>
  <br>

  <p class="totp_recovery_code"><%= decrypt(current_user.totp_recovery_code) %></p>
  
  <%= link_to "Continue >>", dashboard_index_path, class: 'btn btn-lg btn-primary'%>
</div>