<div class="custom_bg text-center">
  <h2 class="form-signin-heading">Two-Factor Authentication (2FA)</h2>
  <h5 class="text-center">Download the Google Authenticator application from App-Store for IOS and PlayStore for Android and scan this code.</h5>

  <hr class="colorgraph">
  <%= render partial: 'partials/notifications' %>
  
  <%= link_to "Click to generate new QR", setup_totp_users_url %>
  <br>
  <img class="qr" src="data:image/png;base64,<%= Base64::strict_encode64(@qr_png.to_s) %>">
  <br><br>
  
  <%= form_tag(setup_totp_users_url) do %>
    <div class="input-group">
      <%= text_field_tag :code, nil, class: 'form-control pad10', placeholder: 'Enter 6 digit pin code here:', autofocus: true, required: true, maxlength: 6 %>
      
      <span class="input-group-btn">
        <%= submit_tag 'Submit', class: 'btn btn-lg btn-primary submit_qrcode' %>
      </span>
    </div>
  <% end %>

</div>