<div class="custom_bg text-center">
  <h2 class="form-signin-heading">Two-Factor Authentication (2FA)</h2>
  
  <hr class="colorgraph">

  <div class="alert alert-info">
    <strong>Congratulations! </strong><%= flash[:notice] %>
  </div>

  <h4 class="text-center">Should you ever lose your phone, below is recovery code that can be used to regain access to your account. Please copy & save it in a safe place, or you will lose access to your account.</h4>
  <br>

  <p class="totp_recovery_code"><%= decrypt(current_user.totp_recovery_code) %></p>
  
  <%= form_tag(totp_recovery_code_users_url) do %>
    <%= submit_tag 'Proceed >>', class: 'btn btn-lg btn-primary' %>
  <% end %>
</div>