<h2>Update Password</h2>
<hr class="colorgraph">
<%= form_for(@user, url: common_user_change_password_url) do |f| %>
  <%= render partial: '/partials/form_errors', locals: {data: @user} %>
  
  <div class="form-group">
    <%= password_field_tag :old_password, nil, placeholder: "Old password", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.password_field :password, placeholder: "New password", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.password_field :password_confirmation, placeholder: "Confirmation", class: "form-control" %>
  </div>
  <br>
  <div><%= submit_tag "Change Password", class: "btn btn-primary pull-right" %></div>
<% end %>