<h2>My Profile</h2>
<hr class="colorgraph">
<%= form_for(@user, url: common_user_my_profile_url) do |f| %>
  <div class="row">
    <div class="col-md-3 text-center profile_bg" style="margin-left: 10px;">
      <% unless @user.photo.blank? %>
        <%= image_tag(@user.photo_url(:medium).to_s) %>
      <% else %>
        <%= image_tag('/assets/profile.png', class: 'profile_image')%>
      <% end %>
      <br>
      <br>
      <div class="text-left">
        <small>Want to change photo?</small>
        <%= f.file_field :photo, class: 'form-control' %>
        <br>
        <%= submit_tag "Upload New Profile Image", class: "btn btn-primary", style: "width: 100%;" %>
      </div>
    </div>
    <div class="col-md-9" style="margin-left: -10px;">
      <%= render partial: '/partials/form_errors', locals: {data: @user} %>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <small>First name:</small>
            <%= f.text_field :first_name, class: "form-control", disabled: 'disabled'  %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <small>Last name:</small>
            <%= f.text_field :last_name, class: "form-control", disabled: 'disabled' %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <small>Email address:</small>
            <%= f.text_field :email, class: "form-control", disabled: 'disabled' %>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  

<% end %>