<h2>Two-Factor Authentication (2FA) Set Up</h2>
<hr class="colorgraph">

<h4>
Two-Factor Authentication adds an extra layer of protection to logins. Once enabled & configured, each time you sign in you will be asked to enter both your username & password as well as a second factor such as a security code.
</h4>
<br>
<div class="alert alert-info">
We strongly encourage you to enable Two-Factor Authentication for added security.
</div>

<% if current_user.activate_totp? %>
  <button type="button" class="btn btn-danger" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#disable2faModal">Disable Two-Factor Authentication</button>
  <%= render partial: '/common_user/partials/disable_2fa' %>
<% else %>
  <%= link_to "Enable Two-Factor Authentication", setup_totp_users_path, class: "btn btn-primary" %>
<% end %>

<button type="button" class="btn btn-danger" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#reset2faModal">Reset Two-Factor Authentication</button>
<%= render partial: '/common_user/partials/reset_2fa' %>