<!-- Show individual transactions, ONLY for Statement -->
<% if session[:report_type] == 'statement' %>
     <!-- Income or Expense -->
    <% @new_balance = forward_balance.to_f %>
    <% params_category.bank_transactions.by_user(bank_account.user_id).records_by_month(params[:month]).each do |transaction| %>
      
      <% if params_category.credit? %>
        <% @new_balance += transaction.amount.to_f %>
      <% else %>
        <% @new_balance -= transaction.amount.to_f %>
      <% end %>
      <tr>
        <td><%= transaction.transaction_date.strftime("%b %e") %></td>
        <td><%= transaction.description %></td>
        <td></td>
        <td><%= number_to_currency_gbp(transaction.amount) %></td>
        <td><%= number_to_currency_gbp(@new_balance) %></td>
      </tr>
    <% end %>
<% end %>

<% @total_amount_per_category = @transaction_records_per_category.sum(:amount) %>

<tr>
  <td></td>
  <% if params_category.credit == true %>
    <td class="text-right"><%= params_category.title %></td>
    <td></td>
    <td class="text-right"><%= number_to_currency_gbp(@total_amount_per_category) %></td>
  <% else %>
    <td class="text-right"><%= params_category.title %></td>
    <td class="text-right"><%= number_to_currency_gbp(@total_amount_per_category) %></td>
    <td></td>
  <% end %>
  <td></td>
</tr>

<tr>
  <td></td>
  <td class="text-right"><b>Total:</b></td>
  <% if params_category.credit == true %>
    <td></td>
    <td class="text-right"><b><%= number_to_currency_gbp(@total_amount_per_category) %></b></td>
  <% else %>
    <td class="text-right"><b><%= number_to_currency_gbp(@total_amount_per_category) %></b></td>
    <td></td>
  <% end %>
  <td>
    <% if params_category.credit? %>
      <%= number_to_currency_gbp(forward_balance.to_f + @total_amount_per_category.to_f) %>
    <% else %>
      <%= number_to_currency_gbp(forward_balance.to_f - @total_amount_per_category.to_f) %>
    <% end %>
  </td>
</tr>

<tr>
  <td><b><%= Time.now.strftime("%b %d") %></b></td>
  <td class="highlight"><b>Closing Balance</b></td>
  <td></td>
  <td></td>
  <td class="<%= 'red-text' if @this_month_opening_balance < 0 %>">
    <%= number_to_currency_gbp(@this_month_opening_balance) %>
  </td>
</tr>