<!-- Show individual transactions, ONLY for Statement -->
<% if session[:report_type] == 'statement' %>
    <% @new_balance = forward_balance.to_f %>

    <% bank_account.bank_transactions.records_by_month(params[:month]).each do |transaction| %>
      <tr>
        <td><%= transaction.transaction_date.strftime("%b %e") %></td>
        <td><%= transaction.description %></td>
        <!-- Income -->
        <% if transaction.credit == true %>
          <% @new_balance += transaction.amount.to_f %>
          <td></td>
          <td><%= number_to_currency_gbp(transaction.amount) %></td>
        <!-- Expenses -->
        <% else %>
          <% @new_balance -= transaction.amount.to_f %>
          <td><%= number_to_currency_gbp(transaction.amount) %></td>
          <td></td>
        <% end %>
        <td><%= number_to_currency_gbp(@new_balance) %></td>
      </tr>
    <% end %>
<% end %>

<!-- Show Categories, ONLY for Report -->
<% if session[:report_type] == 'report' %>
    <!-- Income & Expenses Transacations -->
    <% @income_categories = TransactionCategory.income_categories %>
    <% @expense_categories = TransactionCategory.expense_categories %>

    <% @income_categories.each do |income_category| %>
      <% @income_amount = bank_account.bank_transactions.by_category(income_category.id).records_by_month(params[:month]).sum(:amount) %>
      <tr>
        <td></td>
        <td class="text-right"><%= income_category.title %></td>
        <td></td>
        <td><%= number_to_currency_gbp(@income_amount) %></td>
        <td></td>
      </tr>
    <% end %>

    <% @total_credit = forward_balance.to_f + @this_month_credit_balance.to_f %>
    <tr>
      <td></td>
      <td class="text-right"><b>Total Income:</b></td>
      <td></td>
      <td><b><%= number_to_currency_gbp(@this_month_credit_balance) %></b></td>
      <td><%= number_to_currency_gbp(@total_credit) %></td>
    </tr>

    <% @expense_categories.each do |expense_category| %>
      <tr>
        <td></td>
        <td class="text-right"><%= expense_category.title %></td>
        <td class="red-text text-right">
          <%= number_to_currency_gbp(bank_account.bank_transactions.by_category(expense_category.id).records_by_month(params[:month]).sum(:amount)) %>
        </td>
        <td></td>
        <td></td>
      </tr>
    <% end %>

    <tr>
      <td></td>
      <td class="text-right"><b>Total Expenses:</b></td>
      <td class="red-text text-right"><b><%= number_to_currency_gbp(@this_month_debit_balance) %></b></td>
      <td></td>
      <td class="red-text">
      <%= number_to_currency_gbp(forward_balance.to_f + @this_month_credit_balance.to_f - @this_month_debit_balance.to_f) %>
      </td>
    </tr>
<% end %>

<tr>
  <td><b><%= Time.now.strftime("%b %d") %></b></td>
  <td class="highlight"><b>Closing Balance</b></td>
  <td></td>
  <td></td>
  <td class="<%= 'red-text' if @this_month_opening_balance < 0 %>">
    <%= number_to_currency_gbp(@this_month_opening_balance) %>
  </td>
</tr>