<div class="page-header">
  <div class="row">
    <div class="col-md-4"><h1><%= session[:report_type] == 'statement' ? 'Statement' : 'Report' %></h1></div>
    <div class="col-md-8 text-right" style="padding-top: 15px;">
      <%= form_tag(filter_report_admin_reports_path, method: :get, class: 'form-inline') do %>
        <div class="input-group">
          <%= select_tag :month,
            options_for_select(month_selection, selected: params[:month] || Time.now.month),
            class: 'form-control'
          %>
        </div>
        <div class="input-group">
          <%= select_tag :category,
            options_for_select(transaction_categories_for_select, selected: params[:category]),
            include_blank: '-all category-',
            class: 'form-control'
          %>
        </div>
        <div class="input-group">
          <%= select_tag :bank_account,
            options_for_select(user_bank_account_for_select, selected: params[:bank_account]),
            include_blank: '-all account-',
            class: 'form-control'
          %>
        </div>
        <%= hidden_field_tag :page, params[:page] %>
        <div class="input-group"><%= submit_tag "Filter Result", class: 'btn btn-primary' %></div>
      <% end %>
    </div>
  </div>

  <hr class="colorgraph">
</div>