<div class="<%= 'header' if params[:action] == 'generate_report'%>">
  <% 
    @this_month_transac = get_this_month_balances(bank_account, params[:month])

    @this_month_credit_balance = @this_month_transac[:credit_balance]
    @this_month_debit_balance = @this_month_transac[:debit_balance]
    @this_month_opening_balance = @this_month_transac[:this_month_opening_balance]

    if params[:category].present?
      @transaction_records_per_category = @this_month_transac[:transaction_records_per_category]
    end
  %>

  <% unless params[:action] == 'generate_report' %>
    <a class="pdf_icon" target="_blank" href="/admin/reports/<%=bank_account.id%>/generate_report.pdf?category=<%=params[:category]%>&month=<%=params[:month]%>" target="_blank" title="Generate Report">
      <%= image_tag("/assets/pdf.png") %>
    </a>
  <% end %>

  <h2>A Summary of Deposit Account</h2>
  <h4>Unlimited chequing Account #<%= bank_account.account_number %></h4>
  <div style="border-bottom: 2px solid; margin-bottom: 10px;"></div>
</div>

<table class="report_table_header">
  <tr>
    <td colspan="2"><h4><b><%= bank_account.user.fullname %> - <%= bank_account.account_number %></b></h4></td>
    <td><h4><b>Transit #</b></h4></td>
  </tr>
  <tr>
    <td colspan="2">Your account opening balance</td>
    <td><b><%= number_to_currency_gbp(bank_account.opening_balance) %></b></td>
  </tr>
  <tr>
    <td colspan="2">Your account balance forward on <%= get_last_month_and_last_day(params[:month]).strftime("%B %d, %Y") %></td>
    <td><b><%= number_to_currency_gbp(get_last_month_forward_balance(bank_account, params[:month])) %></b></td>
  </tr>

  <% if !params[:category].present? || (params[:category].present? && @transaction_category.credit?) %>
    <tr>
      <td>Money into your account (<%=@this_month_transac[:count_credit_records]%> items)</td>
      <td>+</td>
      <td><b><%= number_to_currency_gbp(@this_month_credit_balance) %></b></td>
    </tr>
  <% end %>

  <% if !params[:category].present? || (params[:category].present? && !@transaction_category.credit?) %>
    <tr>
      <td>Money out of your account (<%=@this_month_transac[:count_debit_records]%> items)</td>
      <td>-</td>
      <td class="red-text"><b><%= number_to_currency_gbp(@this_month_debit_balance) %></b></td>
    </tr>
  <% end %>

  <tr>
    <td><b>Your closing balance on <%= get_closing_balance_date(params[:month]) %></b></td>
    <td>=</td>
    <td class="<%= 'red-text' if @this_month_opening_balance < 0 %>">
      <b><%= number_to_currency_gbp(@this_month_opening_balance) %></b>
    </td>
  </tr>
</table>
<br>