<h2>Details of your account transaction</h2>

<table id="transaction_table" class="table table-striped table-bordered table-hover" style="width: 100%;">
  <thead>
    <th class="v_align_top" style="width: 10%;">Date</th>
    <th class="v_align_top" style="width: 35%;">Description</th>
    <th class="v_align_top" style="width: 20%;">Money out of your account</th>
    <th class="v_align_top" style="width: 20%;">Money into of your account</th>
    <th class="v_align_top" style="width: 25%;">Balance (£)</th>
  </thead>
  <tbody>
    <% @forward_balance = get_last_month_forward_balance(bank_account, params[:month]) %>
    <tr>
      <td><b><%= get_last_month_and_last_day(params[:month]).strftime("%b %e") %></b></td>
      <td class="highlight"><b>Balance forward</b></td>
      <td colspan="2"></td>
      <td><b><%= number_to_currency_gbp(@forward_balance) %></b></td>
    </tr>
    
    <% if params[:category].present? %>
      <%= render partial: 'category_single', locals: { 
        bank_account: bank_account,
        params_category: @transaction_category,
        forward_balance: @forward_balance
      } %>
    <% else %>
      <%= render partial: 'category_all', locals: {bank_account: bank_account, forward_balance: @forward_balance} %>
    <% end %>
  </tbody>
</table>