<%= render partial: 'header' %>
<!-- <hr class="colorgraph"> -->
<div class="row">
  <div class="col-md-12 text-right marg0 pad0">
    <%= will_paginate @bank_accounts, renderer: BootstrapPagination::Rails %>
  </div>
</div>

<div class="table-responsive" style="margin-bottom: 30px;">
  <% @bank_accounts.each do |bank_account| %>
    <%= render partial: 'report_head', locals: {bank_account: bank_account} %>
    <%= render partial: 'transaction_details', locals: {bank_account: bank_account} %>
  <% end %>
</div>

<div class="pull-right">
  <%= will_paginate @bank_accounts, renderer: BootstrapPagination::Rails %>
</div>