<%= render partial: 'header' %>

<div class="table-responsive" style="margin-bottom: 30px;">
  <%= render partial: 'report_head', locals: {bank_account: @bank_account} %>
  <%= render partial: 'transaction_details', locals: {bank_account: @bank_account} %>
</div>