<%= render partial: 'admin/reports/report_head', formats: [:html], locals: {bank_account: @bank_account} %>

<h3>Details of your account transaction</h3>

<table id="table-transactions" class="table table-striped table-bordered">
  <thead>
    <th style="width: 10%;">Date</th>
    <th style="width: 35%;">Description</th>
    <th style="width: 19%;">Money out of your account</th>
    <th style="width: 19%;">Money into of your account</th>
    <th style="width: 17%;">Balance (£)</th>
  </thead>
  <div class="nobreak" style="display: block;">
    <tbody>
      <% @forward_balance = get_last_month_forward_balance(@bank_account, params[:month]) %>
      <tr>
        <td><b><%= get_last_month_and_last_day(params[:month]).strftime("%b %e") %></b></td>
        <td class="highlight"><b>Balance forward</b></td>
        <td colspan="2"></td>
        <td>
          <b><%= number_to_currency_gbp(@forward_balance) %></b>
        </td>
      </tr>
      
      <% if params[:category].present? %>
        <%= render partial: 'admin/reports/category_single', 
          formats: [:html],
          locals: {
            bank_account: @bank_account,
            params_category: @transaction_category,
            forward_balance: @forward_balance
          }
        %>
      <% else %>
        <%= render partial: 'admin/reports/category_all',
          formats: [:html],
          locals: {
            bank_account: @bank_account,
            forward_balance: @forward_balance
          }
        %>
      <% end %>
     </div>
  </tbody>
</table>