<%= render partial: 'partials/form_errors', locals: {data: @admin_transaction_category}  %>

<div class="form-group">
  <%= f.label :title, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :title, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :description, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_area :description, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :credit, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.check_box :credit, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit class: "btn btn-primary pull-right" %>
  </div>
</div>