<div class="page-header">
  <%= link_to admin_transaction_categories_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>

  <h1>Editing Transaction Category</h1>
  <hr class="colorgraph">
</div>

<%= form_for(@admin_transaction_category, {url: admin_transaction_category_path(@admin_transaction_category), html: { class: "form-horizontal", role: "form" }}) do |field| %>
  <%= render partial: 'form', locals: {f: field} %>
<% end %>