<div class="page-header">
  <%= link_to new_admin_transaction_category_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Transaction Category
  <% end %>
  <h1>Listing All Transaction Categories</h1>
  <hr class="colorgraph">
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th class="text-center">Is Credit?</th>
        <th colspan="2" class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @admin_transaction_categories) do |category| %>
        <td><%= category.title %></td>
        <td><%= category.description %></td>
        <td class="text-center">
          <% if category.credit %>
            <span class="glyphicon glyphicon-ok"></span>
          <% else %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_admin_transaction_category_path(category) %></td>
        <td><%= link_to 'Destroy', admin_transaction_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
