<!-- Modal -->
<div class="modal fade" id="reset2faModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Reset Two-Factor Authentication (2FA)</h2>
        <p>This action will disable your previous devise 2FA configuration and will generate new one.</p>
        <hr class="colorgraph">
      </div>
      <div class="modal-body" style="margin-bottom: 30px;">
        <%= form_tag common_user_security_settings_url, {method: :post} do %>
          <div class="row">
            <div class="col-lg-9">
              <%= password_field_tag :password, nil, id: 'reset_2fa_password', class: "form-control pad10", placeholder: 'Enter your password', required: true %>
              <%= hidden_field_tag :do_action, 'reset_2fa' %>
            </div>
            <div class="col-lg-3 pad-left0">
              <%= submit_tag "Reset 2FA", class: "btn btn-danger btn-lg pull-left" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>