<%= content_for :custom_script do %>
  <script type="text/javascript">
    jQuery(function($){
      // http://digitalbush.com/projects/masked-input-plugin/
      // a - Represents an alpha character (A-Z,a-z)
      // 9 - Represents a numeric character (0-9)
      // * - Represents an alphanumeric character (A-Z,a-z,0-9)
      $("#bank_account_sort_code").mask("**-**-**");
    });
  </script>
<% end %>

<%= render partial: 'partials/form_errors', locals: {data: @admin_bank_account}  %>
<div class="form-group">
  <%= f.label :user_id, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.select :user_id,
      users_for_select,
      {include_blank: '-select here-', selected: @admin_bank_account.user_id},
      {class: 'form-control'}
    %>
  </div>
</div>
<div class="form-group">
  <%= f.label :bank, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :bank, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :sort_code, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :sort_code, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :account_number, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :account_number, class: "form-control", maxlength: "10" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :bank_type, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.select(:bank_type, [
      ['-select here-', ''],
      ['Current', 'Current'],
      ['Savings', 'Savings'],
      ['Merchant', 'Merchant']
      ], {selected: @admin_bank_account.bank_type}, {class: 'form-control'})
    %>
  </div>
</div>
<div class="form-group">
  <%= f.label :opening_balance, class: "col-sm-2 control-label" %>   
  <div class="col-sm-10">
    <div class="input-group">
      <span class="input-group-addon" id="euro-addon1">£</span>
      <%= f.text_field :opening_balance,
        value: "#{@admin_bank_account.opening_balance? ? number_to_currency_field(@admin_bank_account.opening_balance) : '0.00'}",
        class: "form-control",
        aria: {describedby:"euro-addon1"}
      %>
    </div>
  </div>
</div>
<div class="form-group">
  <%= f.label :balance, class: "col-sm-2 control-label" %>   
  <div class="col-sm-10">
    <div class="input-group">
      <span class="input-group-addon" id="euro-addon2">£</span>
      <%= f.text_field :balance,
        value: "#{@admin_bank_account.balance? ? number_to_currency_field(@admin_bank_account.balance) : '0.00'}",
        class: "form-control",
        aria: {describedby:"euro-addon2"}
      %>
    </div>
  </div>
</div>
<div class="form-group">
  <%= f.label :description, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_area :description, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit class: "btn btn-primary pull-right" %>
  </div>
</div>