<div class="page-header">
  <%= link_to new_admin_bank_account_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Bank Account
  <% end %>
  <h1>Listing All Bank Accounts</h1>
  <hr class="colorgraph">
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Bank</th>
        <th>Sort code</th>
        <th>Account number</th>
        <th>Type</th>
        <th>Opening-Balance</th>
        <th>Balance</th>
        <th colspan="4" class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
    <%= content_tag_for(:tr, @admin_bank_accounts) do |bank_account| %>
      <td><%= bank_account.bank %></td>
      <td><%= bank_account.sort_code %></td>
      <td><%= bank_account.account_number %></td>
      <td><%= bank_account.bank_type %></td>
      <td><%= number_to_currency_gbp(bank_account.opening_balance) %></td>
      <td id="balance_<%=bank_account.id%>">
        <%= number_to_currency_gbp(bank_account.balance) %>
      </td>
      <td><%= link_to 'Show', admin_bank_account_path(bank_account) %></td>
      <td><%= link_to 'Edit', edit_admin_bank_account_path(bank_account) %></td>
      <td>
        <%= link_to 'Destroy', admin_bank_account_path(bank_account), method: :delete, data: {confirm: 'Are you sure?'} %>
      </td>
      <td><%= link_to "Recalculate", admin_bank_account_recalculate_balance_path(bank_account),
        class:"btn btn-sm btn-primary re-calculate",
        data: {bank_account_id: bank_account.id}
        %>
      </td>
    <% end %>
    </tbody>
  </table>
</div>

<div class="pull-right">
  <%= will_paginate @admin_bank_accounts, renderer: BootstrapPagination::Rails %>
</div>

<%= content_for :custom_script do %>
  <script type="text/javascript">
    $(function(){
      var current_bank_account = "<%= params[:bank_account_id] %>";
      $('td').removeClass('bg-primary text-white');
      $('td#balance_'+current_bank_account).addClass('bg-primary text-white');
    });
  </script>
<% end %>