<div class="page-header">
  <%= link_to admin_bank_accounts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New Bank Account</h1>
  <hr class="colorgraph">
</div>

<%= form_for(@admin_bank_account, {url: admin_bank_accounts_path, html: { class: "form-horizontal", role: "form" }}) do |field| %>
  <%= render partial: 'form', locals: {f: field} %>
<% end %>
