<div class="page-header">
  <%= link_to admin_bank_accounts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_admin_bank_account_path(@admin_bank_account), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show Bank Account</h1>
  <hr class="colorgraph">
</div>

<dl class="dl-horizontal">
  <dt>Account Holder:</dt>
  <dd><%= @admin_bank_account.user.fullname %></dd>

  <dt>Bank:</dt>
  <dd><%= @admin_bank_account.bank %></dd>

  <dt>Sort code:</dt>
  <dd><%= @admin_bank_account.sort_code %></dd>

  <dt>Account number:</dt>
  <dd><%= @admin_bank_account.account_number %></dd>

  <dt>Type:</dt>
  <dd><%= @admin_bank_account.bank_type %></dd>

  <dt>Opening-Balance:</dt>
  <dd><%= number_to_currency_gbp(@admin_bank_account.opening_balance) %></dd>

  <dt>Balance:</dt>
  <dd><%= number_to_currency_gbp(@admin_bank_account.balance) %></dd>

  <dt>Description:</dt>
  <dd><%= @admin_bank_account.description %></dd>
</dl>
