<%= render partial: 'partials/form_errors', locals: {data: @admin_transaction}  %>

<div class="form-group">
  <%= f.label :bank_account, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.select :account_id,
      user_bank_account_for_select,
      {include_blank: '-select here-', selected: @admin_transaction.account_id},
      {class: 'form-control'}
    %>
  </div>
</div>
<div class="form-group">
  <%= f.label :transaction_category_id, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.select :transaction_category_id,
      transaction_categories_for_select, 
      {include_blank: '-select here-', selected: @admin_transaction.transaction_category_id},
      {class: 'form-control'}
    %>
  </div>
</div>
<div class="form-group">
  <%= f.label :amount, class: "col-sm-2 control-label" %>   
  <div class="col-sm-10">
    <div class="input-group">
      <span class="input-group-addon" id="euro-addon">£</span>
      <%= f.text_field :amount, value: 
        "#{@admin_transaction.amount? ? number_to_currency_field(@admin_transaction.amount) : '0.00'}",
        class: "form-control",
        aria: {describedby:"euro-addon"}
      %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :description, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_area :description, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :transaction_date, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.datetime_select :transaction_date, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit class: "btn btn-primary pull-right" %>
  </div>
</div>