<div class="page-header">
  <%= link_to new_admin_transaction_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Transaction
  <% end %>
  <h1>Listing All Transactions</h1>
  <hr class="colorgraph">
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Account</th>
        <th>Category</th>
        <th class="text-center">Is Credit?</th>
        <th>Amount</th>
        <th>Transaction Date</th>
        <th colspan="3" class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
    <%= content_tag_for(:tr, @admin_transactions) do |transaction| %>
      <td><%= transaction.user.nil? ? 'Unknown' : transaction.user.fullname %></td>
      <td><%= transaction.transaction_category.nil? ? '-' : transaction.transaction_category.title %></td>
      <td class="text-center">
        <% if transaction.credit %>
          <span class="glyphicon glyphicon-ok"></span>
        <% else %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </td>
      <td><%= transaction.amount %></td>
      <td><%= transaction.transaction_date %></td>
      <td><%= link_to 'Show', admin_transaction_path(transaction) %></td>
      <td><%= link_to 'Edit', edit_admin_transaction_path(transaction) %></td>
      <td><%= link_to 'Destroy', admin_transaction_path(transaction), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    </tbody>
  </table>
</div>

<div class="pull-right">
  <%= will_paginate @admin_transactions, renderer: BootstrapPagination::Rails %>
</div>