<div class="page-header">
  <%= link_to admin_transactions_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_admin_transaction_path(@admin_transaction), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show Transaction</h1>
  <hr class="colorgraph">
</div>

<dl class="dl-horizontal">
  <dt>Account:</dt>
  <dd><%= @admin_transaction.account_id %></dd>

  <dt>Transaction category:</dt>
  <dd><%= @admin_transaction.transaction_category_id %></dd>

  <dt>Credit:</dt>
  <dd><%= @admin_transaction.credit %></dd>

  <dt>Amount:</dt>
  <dd><%= @admin_transaction.amount %></dd>

  <dt>Description:</dt>
  <dd><%= @admin_transaction.description %></dd>

  <dt>Transaction date:</dt>
  <dd><%= @admin_transaction.transaction_date %></dd>
</dl>
