/*
 * Sidebar
 */

.sidebar {
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav > .active {
  background-color: #f9f9f9;
}
.sidebar .nav-link {
  border-radius: 0;
  border-bottom: 1px solid #d6d4d4;
}

/* 
* Custom Styles 
*/
.marg0 {margin: 0 !important;}
.pad0 {margin: 0 !important;}
.margbtm{margin-bottom: 100px;}
.pad-left0{padding-left: 0px !important;}
.pad-right0{padding-right: 0px !important;}
.nav-pad10{padding: 15px 10px 15px 10px !important;}
.app-name{color: #4fc3f7 !important;}
.section-head{color: #08a0e4;}
.totp_recovery_code{color: #005094; font-size: 19px; margin-bottom: 30px;}
.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #6cc8f8;
  left: -5px;
  position: absolute;
  margin-top: 1px;
  z-index: 1;
}
a.pad-l25 {padding-left:25px !important;}
.report_table_header tr>td{
  border-top: 1px solid #000;
  border-bottom: 1px solid #000; 
}
.report_table_header{width: 100%}
.report_table_header tr>td{padding-left: 5px;}
.report_table_header tr>td:first-child{width: 20%; border-top: none;}
.report_table_header tr>td:nth-child(2){width: 10%; text-align: center;}
.report_table_header tr>td:last-child{width: 30%; text-align: left;}
.v_align_top{vertical-align: top !important;}
.v_align_middle{vertical-align: middle !important;}
ul.categories{
  margin: 0;
  padding: 0;
  list-style: none;
}
.pdf_icon{float: right;}
.pdf_icon img{height: 50px;}

.red-text{color: red;}
.custom-dropdown-menu{
  position: relative;
  float: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.custom-dropdown-menu li>{border: none; box-shadow: none; margin-top: 0px;}
.custom-dropdown-menu li>a{padding: 10px 0 10px 0;}
span#nav-caret{margin-top: 8px;}
.sub-nav-active{background-color: #f5f5f5;}

ul.pagination{margin: 0px; }

/*My Profile Page*/
img.profile_image{max-height: 150px;}
.profile_bg{
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
}
img.nav_profile_image{
  max-height: 40px;
  border-radius: 50%;
  margin-top: 5px;
}
