/*PDF Report*/

table {font-size: 12px; width: 100%;}
table#table-transactions th{vertical-align: top; text-align: left;}
.report_table_header{width: 100%}
.report_table_header tr>td{
  border-top: 1px solid #b2b5ba;
  border-bottom: 1px solid #b2b5ba;
  padding-left: 5px;
}
.report_table_header tr:first-child>td{width: 70%; border-top: none;}
.report_table_header tr>td:last-child{width: 20%; text-align: left;}
.highlight{background-color: #c4f9ff; }
.header{margin-top: -50px;}

/*Prevents dislocation in next page*/
.nobreak:before {clear: both;}
.nobreak th, td, tr {
    page-break-inside: avoid;
}

