<%= render partial: 'partials/form_errors', locals: {data: @admin_user}  %>

<div class="form-group">
  <%= f.label :login, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :login, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :first_name, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :last_name, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :email, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :email, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :password, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.password_field :password, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :password_confirmation, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :user_type_id, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.select(:user_type_id, [['Admin', 1], ['Supervisor', 2]], {selected: @admin_user.user_type_id}, {class: 'form-control'}) %>
  </div>
</div>
<div class="form-group">
  <%= f.label :activated, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.check_box :activated, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit class: "btn btn-primary pull-right" %>
  </div>
</div>
