<div class="page-header">
  <%= link_to new_admin_user_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New User
  <% end %>
  <h1>Listing All Users</h1>
  <hr class="colorgraph">
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Login</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>User Type</th>
        <th class="text-center">Activated</th>
        <th colspan="3" class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= content_tag_for(:tr, @admin_users) do |user| %>
        <td><%= user.login %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= identify_user_type(user.user_type_id) %></td>
        <td class="text-center">
          <% if user.activated %>
            <span class="glyphicon glyphicon-ok"></span>
          <% else %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
        <td><%= link_to 'Show', admin_user_path(user) %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
        <td><%= link_to 'Destroy', admin_user_path(user), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      <% end %>
    </tbody>
  </table>
</div>

<div class="pull-right">
  <%= will_paginate @admin_users, renderer: BootstrapPagination::Rails %>
</div>