<div class="page-header">
  <%= link_to admin_users_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_admin_user_path(@admin_user), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show User</h1>
  <hr class="colorgraph">
</div>

<dl class="dl-horizontal">
  <dt>Login:</dt>
  <dd><%= @admin_user.login %></dd>

  <dt>First name:</dt>
  <dd><%= @admin_user.first_name %></dd>

  <dt>Last name:</dt>
  <dd><%= @admin_user.last_name %></dd>

  <dt>Email:</dt>
  <dd><%= @admin_user.email %></dd>

  <dt>User type:</dt>
  <dd><%= identify_user_type(@admin_user.user_type_id) %></dd>

  <dt>Activated:</dt>
  <dd><%= @admin_user.activated %></dd>

</dl>
