<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="RocketDogCreative Nexus Application">
    <meta name="author" content="RocketDogCreative">
    <link rel="icon" href="/assets/nexus-icon.png">
    <title>Nexus | Dashboard</title>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= yield :custom_style %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand app-name" href="<%= dashboard_index_path%>">
            <img src="/assets/sample.png" width="30" height="30" style="margin: -5px 5px 0;" class="pull-left d-inline-block align-top" alt="">
            NEXUS
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto pull-left"></ul>

          <ul class="nav navbar-nav pull-right">
            <% if current_user %>
              <li>
                <% unless current_user.photo.blank? %>
                  <%= image_tag(current_user.photo_url(:thumb).to_s, class: 'nav_profile_image') %>
                <% else %>
                  <%= image_tag('/assets/profile.png', class: 'nav_profile_image')%>
                <% end %>
              </li>
              <li><%= link_to "Hi, #{current_user.login}!", "", class: 'white text-capitalize nav-pad10' %></li>
              <li><%= link_to "Log Out", logout_path, class: 'white nav-pad10' %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 pad-left0 pad-right0">
          <%= render partial: 'partials/dashboard_nav' %>
        </div>

        <div class="col-md-10">
          <%= render partial: 'partials/notifications' %>
          <%= yield %>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      var page = "<%= params[:controller]%>";
      var action = "_<%= params[:action]%>";
      var sub_nav = "<%= session[:report_type]%>"
    </script>
    <%= javascript_include_tag "set_active_nav" %>
    <%= yield(:custom_script) %>
  </body>
</html>
