<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="RocketDogCreative Nexus Application">
    <meta name="author" content="RocketDogCreative">
    <link rel="icon" href="/assets/nexus-icon.png">
    <%= wicked_pdf_stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>
<body>
  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>